flows/.test-flow.json.backup
[{"id":"69aa6c3d136d52de","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"15108bd21f09b7a2","type":"ui_group","name":"Our Dashboard","tab":"8a669b1356876f00","order":1,"disp":true,"width":"6","collapse":false},{"id":"86fbab49412a2e87","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"testClient","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8a669b1356876f00","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e5fb78d227d575ff","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7251cd4eb418af15","type":"ui_gauge","z":"69aa6c3d136d52de","name":"","group":"15108bd21f09b7a2","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"°C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":120,"wires":[]},{"id":"f1e3ae6b08f36af0","type":"ui_gauge","z":"69aa6c3d136d52de","name":"","group":"15108bd21f09b7a2","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":180,"wires":[]},{"id":"5ec043c4b211da1a","type":"ui_chart","z":"69aa6c3d136d52de","name":"","group":"15108bd21f09b7a2","order":2,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":280,"wires":[[]]},{"id":"0ae2c0fbad8289e5","type":"ui_chart","z":"69aa6c3d136d52de","name":"","group":"15108bd21f09b7a2","order":5,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":360,"y":340,"wires":[[]]},{"id":"7baf94652c35e8af","type":"ui_button","z":"69aa6c3d136d52de","name":"","group":"15108bd21f09b7a2","order":3,"width":0,"height":0,"passthru":false,"label":"Temperature Logs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":350,"y":420,"wires":[[]]},{"id":"12d826c2847a7821","type":"ui_button","z":"69aa6c3d136d52de","name":"","group":"15108bd21f09b7a2","order":6,"width":0,"height":0,"passthru":false,"label":"Humidity Logs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":460,"wires":[[]]},{"id":"31b34749dc5b1c54","type":"ui_switch","z":"69aa6c3d136d52de","name":"","label":"LED","tooltip":"","group":"15108bd21f09b7a2","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":430,"y":520,"wires":[["cfd863013217617e"]]},{"id":"19081d44d0019a2f","type":"ui_slider","z":"69aa6c3d136d52de","name":"","label":"Servo","tooltip":"","group":"15108bd21f09b7a2","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"x":390,"y":600,"wires":[["38639aa1a6806387"]]},{"id":"cd38d23dcd2db3ae","type":"ui_colour_picker","z":"69aa6c3d136d52de","name":"","label":"NeoPixel Color Pikker","group":"15108bd21f09b7a2","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":9,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":460,"y":680,"wires":[["59eff6725426bf62"]]},{"id":"cfd863013217617e","type":"mqtt out","z":"69aa6c3d136d52de","name":"","topic":"Lights","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"86fbab49412a2e87","x":630,"y":520,"wires":[]},{"id":"38639aa1a6806387","type":"mqtt out","z":"69aa6c3d136d52de","name":"","topic":"servo","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"86fbab49412a2e87","x":630,"y":600,"wires":[]},{"id":"59eff6725426bf62","type":"mqtt out","z":"69aa6c3d136d52de","name":"","topic":"lights/neopixel","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"86fbab49412a2e87","x":700,"y":680,"wires":[]}]