flows/test-flow.json
[{"id":"dc283de0cc5a89b0","type":"tab","label":"MQTT Dashboard","disabled":false,"info":""},{"id":"5a70685e5e896c5d","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6f4ca5e460ca6642","type":"ui_group","name":"Temperature and Humidity","tab":"49d2b6bfe3f4bc49","order":1,"disp":true,"width":"6","collapse":false},{"id":"49d2b6bfe3f4bc49","type":"ui_tab","z":"dc283de0cc5a89b0","name":"Dashboard","icon":"dashboard"},{"id":"545a306c27aa487f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4a958f257291e5a6","type":"mqtt in","z":"dc283de0cc5a89b0","name":"","topic":"iotfrontier/temperature","qos":"2","datatype":"auto-detect","broker":"5a70685e5e896c5d","nl":false,"rap":false,"inputs":0,"x":144,"y":347,"wires":[["ab8cb107b4719041","ba975289fc329d54"]]},{"id":"ab8cb107b4719041","type":"debug","z":"dc283de0cc5a89b0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":341,"y":314,"wires":[]},{"id":"d431cccf59a85d58","type":"mqtt in","z":"dc283de0cc5a89b0","name":"","topic":"iotfrontier/humidity","qos":"2","datatype":"auto-detect","broker":"5a70685e5e896c5d","nl":false,"rap":false,"inputs":0,"x":130,"y":120,"wires":[["3a25aa80a27e1aa7","dbd883bf3fe9af47"]]},{"id":"dbd883bf3fe9af47","type":"ui_gauge","z":"dc283de0cc5a89b0","name":"Humidity","group":"6f4ca5e460ca6642","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":340,"y":180,"wires":[]},{"id":"ba975289fc329d54","type":"ui_chart","z":"dc283de0cc5a89b0","name":"Temperature","group":"6f4ca5e460ca6642","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":341,"y":374,"wires":[[]]},{"id":"3a25aa80a27e1aa7","type":"debug","z":"dc283de0cc5a89b0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":100,"wires":[]},{"id":"0a6e274654339662","type":"ui_switch","z":"dc283de0cc5a89b0","name":"LED","label":"LED","tooltip":"","group":"6f4ca5e460ca6642","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"iotfrontier/led","topicType":"str","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":340,"y":240,"wires":[["40ad0961bb93e0e4"]]},{"id":"40ad0961bb93e0e4","type":"mqtt out","z":"dc283de0cc5a89b0","name":"","topic":"iotfrontier/led","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5a70685e5e896c5d","x":540,"y":240,"wires":[]}]